<hr class="post-divider">
<!-- SOCIAL -->
    <div class="social-icons">
      <a href="https://www.facebook.com/gitesh.g.sharma" class="facebook"><i class="fa fa-facebook"></i></a>
      <a href="https://www.instagram.com/giteshsharma_" class="instagram"><i class="fa fa-instagram"></i></a>
      <a href="https://youtu.be/kJHVeDs999w?si=B9_36mbrIo-SJCcL" class="youtube"><i class="fa fa-youtube-play"></i></a>
      <a href="https://www.whatsapp.com/channel/0029Va9TSWEInlqWFXYRvx02" class="whatsapp"><i class="fa fa-whatsapp"></i></a>
    </div>

<!-- FOOTER -->
    <div class="footer">
      © 2026 Sharmaji Technology Media<br>
      <a href="/en/org/legal/privacy.html">Privacy</a> • <a href="/en/org/sitemap.html">Sitemap</a>
    </div>
