<header class="blog-header">
  <div class="header-left">
    <!-- Logo -->
    <a href="#" class="logo-link">
      <img src="/en/images/gitesh-sharma.png" alt="Logo" class="logo-img">
    </a>
    <span class="slash">/</span>
    <!-- Blog text -->
    <a href="/blog" class="blog-link">
      Blog
    </a>
  </div>

  <nav class="header-nav">
    <a href="/en/">Home</a>
    <span>•</span>
    <a href="/blog">Blog</a>
    <span>•</span>
    <a href="/en/org/contact-us.html">Contact</a>
  </nav>
</header>
